.card{
    background-color: rgb(39, 43, 54);
    border-radius: 15px;
}
.image{
    position: relative;
    height: 260px;
}

.over{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.637);
    display: flex;
    align-items: center;
    font-weight: bold;
    z-index: -1;
}

.card:hover .over{
    z-index: 0;
}
.card:hover a{
    background-color: rgba(104, 193, 134, 0.199);

}
.card:hover a:hover{
    background-color: rgba(104, 193, 134, 0.39);

}

