nav{
    background-color: rgb(39, 43, 54);
    top: 0;
    left: 0;
    width: 0;
    visibility: hidden;
    height: 100vh;
    z-index: 999;
    transition: width .2s ease 0s;
}

@media (max-width:576px) {
    .add{
        width: 600px !important;
    }
    
}
@media (max-width:767px) {
    .add{
        width: 400px !important;
    }
    
}

.add{
    visibility: visible !important;
    width: 350px ;
    border-right: 1px solid rgb(126, 126, 126);
}

ul{
    list-style: none !important;
    padding: 0 !important;
}


a{
    padding: 20px 15px !important;
    color: white !important;
    text-decoration: none !important;
    transition: color 0.2s linear 0s !important;
    display: block !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

a:hover{
    color: rgb(104, 193, 133);
    background-color: #7f959940;
}

a.active{
    background-color: #7f959940 ;
}

a svg{
    margin-right: .75rem;
}